body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

*{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  
}
.app{
  width: 400px;
  padding: 10px 20px;
  margin: 4px auto;
  border: 2px black solid;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
}
h1{
  margin: 5px auto;
  padding: 0 125px;
  /* border: 2px green solid; */
}
p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  /* border: 2px orange solid; */
}
input {
  width: 350px;
  height: 30px;
  margin-top: 0px;
  cursor: pointer;
  /* border: 2px blue solid; */
}

.add{
  padding: 3px 128px;
  font-size: larger;
  font-weight: 500;
  background-color: black;
  color: aliceblue;
  margin: 25px auto;
}
.list{
  /* border: 2px darkblue solid; */
  border-radius: 5px;
  padding: 10px 0;
}
.item{
  display:flex ;
  box-sizing: inherit;
  border-bottom: 1px solid;
  padding:7px 4px ;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}
.content{
  width: 255px;
  margin: 3px 0;
  overflow: hidden;
}
.item div p{
  margin: 4px 0;
}
.remove{
  min-width: 38.67px;
  height: 30px;
  background-color: #f03737fa;
  color: white;
  font-weight:bold;
  border: none;
  margin-left: 2px;
}
.edit{
  min-width: 38.67px;
  height: 30px;
  background-color: green;
  color: white;
  font-weight:bold;
  border: none;
  /* margin: 0 auto; */
}
.remove:hover{
  background-color: rgb(187, 81, 81);
}
.edit:hover{
  background-color: rgb(19, 89, 21);
}
button:hover{
  opacity: 0.6;
  color: rgb(219, 206, 206);
  background-color: rgb(98, 92, 92);
  cursor:pointer;
}

.done{
  opacity: 0.5;
  background-color: gray;
  border-radius: 3px;
}
.title{
  text-decoration: line-through 2px solid black;
  
}
.content:hover{
  border-radius: 3px;
  padding-left: 3px;
  background-color: #a69e9ecf;
  cursor: pointer;
}
/* EditItem */
.edit_item{
  position: relative;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px black solid; 
  animation: slide 2s 1 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; 
}

.edit_done{
  margin-top: 10px;
  width: 49%;
  height: 30px;
  border: none;
  background-color: rgb(23, 150, 228);
  color: white;
  font-weight: bold;
  font-size:medium;
}
.edit_done:hover{
  background-color:  rgb(20, 125, 190);
}
.edit_cancel{
  margin-top: 10px;
  margin-left: 5px;
  width: 49%;
  height: 30px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size:medium;
}
.edit_cancel:hover{
  background-color: rgba(172, 14, 14, 0.917);
}
.drap{
  width:100%;
  display: flex;
  justify-content: center;
  /* border: 2px black solid; */
}
.drap:hover{
  cursor: pointer;
  background-color: rgba(64, 125, 210, 0.586);
  z-index: 3;
}
.Dragging{
  border-radius: 5px;
  background-color: rgba(199, 194, 194, 0.407);
}