body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
  overflow-y: scroll;
}

*{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  
}
.app{
  width: 400px;
  padding: 10px 20px;
  margin: 4px auto;
  border: 2px black solid;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
}
h1{
  margin: 5px auto;
  padding: 0 125px;
  /* border: 2px green solid; */
}
p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  /* border: 2px orange solid; */
}
input {
  width: 350px;
  height: 30px;
  margin-top: 0px;
  cursor: pointer;
  /* border: 2px blue solid; */
}

button:hover{
  opacity: 0.6;
  color: rgb(219, 206, 206);
  background-color: rgb(98, 92, 92);
  cursor:pointer;
}
.editArea{
  height: 340px;
  transition: height 1s;
  transition-timing-function:ease-in;
}
.editArea.Expanded{
  height: 15px;
}
/* scrollbar */
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar-track { 
  background-color: rgba(202, 196, 196, 0.306);
	width: 7px;
}

body::-webkit-scrollbar-thumb { 
	border-radius: 8px; 
	border: 3px solid rgba(159, 92, 92, 0.5); 
	background-color: rgba(159, 92, 92, 0.5);
}


